.error__icon {
  margin: 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error__icon i {
  font-size: 10rem;
  display: inline-block;
  filter: drop-shadow(0 0 10px var(--error-color));
}

.error__info {
  text-align: center;
  margin: 0 10%;
}

.error__info h3 {
  word-wrap: break-word;
  font-size: 1.5rem;
  font-weight: 600;
}

.error__info p {
  font-size: 1rem;
}
