.weather__app-dackground {
  /* background:linear-gradient(rgba(0,0,0, .45), rgba(0,0,0,.45)),
    url('../assets/images/plant-4041620_1280.png') no-repeat center center; */
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/images/background-img.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
